week5/data/chr10.fa
week5/data/illumina.fq
week5/data/pacbio.fq
week5/data/CYP2C_rough.fa
week5/data/chr10.fa.fai
week5/data/reference_genes.fa
week5/data/CYP2C.fa
week5/data/illumina.sam
week5/data/illumina.sorted.bam
week5/data/illumina.sorted.bam.bai
week5/data/pacbio.sam
week5/data/pacbio.sorted.bam
week5/data/pacbio.sorted.bam.bai
week5/data/reference_genome.fa
week5/data/reference_genome.mmi
week5/data/reference_genome.fa.fai
week5/data/illumina.vcf.gz
week5/data/illumina.vcf.gz.csi
week5/data/pacbio.vcf.gz
week5/data/pacbio.vcf.gz.csi
week5/data/illumina.vcf
week5/data/pacbio.vcf
week5/data/illumina.bam
week5/data/pacbio.bam
week5/data/chr10.fa.gz
week5/data/illumina_fb.vcf
week5/data/illumina.fq.bz2
week5/data/illumina.fragments
week5/data/illumina.hapcut
week5/data/illumina.hapcut.phased.VCF
week5/data/pacbio_fb.vcf
week5/data/pacbio.fq.bz2
week5/data/pacbio.fragments
week5/data/pacbio.hapcut
week5/data/pacbio.hapcut.phased.VCF
week5/data/illumina_fb.fragments
week5/data/illumina_fb.hapcut
week5/data/illumina_fb.hapcut.phased.VCF
week5/data/pacbioz-fb.fragments
week5/data/illumina.bam.bai
week5/data/pacbio.bam.bai
week5/data/igv_batch.txt
week5/data/CYP2C_extract.fa
week5/data/CYP2C_extract.fa.fai
week5/data/CYP2C_extract.mmi
week5/data/illumina_extract.bam
week5/data/illumina_extract.bam.bai
week5/data/illumina_extract.fragments
week5/data/illumina_extract.hapcut
week5/data/illumina_extract.hapcut.phased.VCF
week5/data/illumina_extract.sam
week5/data/illumina_extract.vcf
week5/data/illumina_extract.vcf.gz
week5/data/illumina_extract.vcf.gz.csi
week5/data/pacbio_extract.bam
week5/data/pacbio_extract.bam.bai
week5/data/pacbio_extract.fragments
week5/data/pacbio_extract.hapcut
week5/data/pacbio_extract.hapcut.phased.VCF
week5/data/pacbio_extract.sam
week5/data/pacbio_extract.vcf
week5/data/pacbio_extract.vcf.gz
week5/data/pacbio_extract.vcf.gz.csi
week5/data/illumina.norm.splitted.vcf
week5/data/illumina.norm.splitted.vcf.gz
week5/data/illumina.norm.splitted.vcf.gz.csi
week5/data/pacbio.norm.splitted.vcf
week5/data/pacbio.norm.splitted.vcf.gz
week5/data/pacbio.norm.splitted.vcf.gz.csi
week5/data/pharmvar/CYP2C19_allele_definition_table.xlsx
week6/data/toy_human_ref/fasta/genome.fa
week6/data/toy_human_ref/genes/genes.gtf
week6/data/toy_read_fastq/selected_R1_reads.fastq
week6/data/toy_read_fastq/selected_R2_reads.fastq
week6/data/3M-february-2018.txt
