week5/data/chr10.fa
week5/data/illumina.fq
week5/data/pacbio.fq
week5/data/CYP2C_rough.fa
week5/data/chr10.fa.fai
week5/data/reference_genes.fa
week5/data/CYP2C.fa
week5/data/illumina.sam
week5/data/illumina.sorted.bam
week5/data/illumina.sorted.bam.bai
week5/data/pacbio.sam
week5/data/pacbio.sorted.bam
week5/data/pacbio.sorted.bam.bai
week5/data/reference_genome.fa
week5/data/reference_genome.mmi
week5/data/reference_genome.fa.fai
week5/data/illumina.vcf.gz
week5/data/illumina.vcf.gz.csi
week5/data/pacbio.vcf.gz
week5/data/pacbio.vcf.gz.csi
week5/data/illumina.vcf
week5/data/pacbio.vcf
week5/data/illumina.bam
week5/data/pacbio.bam
week5/data/chr10.fa.gz
week5/data/illumina_fb.vcf
week5/data/illumina.fq.bz2
week5/data/illumina.fragments
week5/data/illumina.hapcut
week5/data/illumina.hapcut.phased.VCF
week5/data/pacbio_fb.vcf
week5/data/pacbio.fq.bz2
week5/data/pacbio.fragments
week5/data/pacbio.hapcut
week5/data/pacbio.hapcut.phased.VCF
